<!DOCTYPE html>
<html class="no-js ng-scope" ng-app="myapp">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>华正物联网卡</title>
    <link href="images/cmcc.ico" rel="SHORTCUT ICON"/>
    <link href="styles/mcp2.css" rel="stylesheet">

    <meta name="description" content="Keep track of your simcards and understand how often they discount."/>
    <meta property="og:locale" content="zh_cn"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Simcard management platform by Huaz"/>
    <meta property="og:description" content="专业的流量运营平台"/>
    <meta property="og:url" content="http://anthonyzhang.cn/cardProject/myCardProject2.html/"/>
    <meta property="og:site_name" content="华正物联网卡"/>
    <meta property="og:image" content="images/cmcc.ico"/>

    <script src="scripts/angular.min.js"></script>

    <link rel='stylesheet' id='style-css'
          href='styles/style.css' type='text/css'
          media='all'/>

    <style type="text/css">
        body, html {
            margin: 0 !important;
        }
    </style>
</head>

<body class="home page-template page-template-p age-raw page-template-page-raw-php page page-id-5">


<div class="home">
    <div class="header-box">
        <div class="container">
            <div class="login-box"  style="text-align: center">
                <h1>使用华正物联网卡<br/>将你的设备带入无线互联时代</h1>
                <form method="post" action="Logincheck.asp">
                    <div class="form-group" style="padding-bottom: 10px;">
                        <input type="text" id="txtUserName" name="userName" ng-model="login.formData.uid" placeholder="用户名" class="form-control ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" autocomplete="off" value="" required="" style="">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" id="txtUserPwd" name="userPwd" ng-model="login.formData.pwd" class="form-control ng-untouched ng-dirty ng-valid-parse ng-valid ng-valid-required" autocomplete="off" value="" required="" style="">
                    </div>
                    <div class="checkbox-inline">
                        <label style="font-size: larger;line-height: 2em;color: aliceblue;">
                            <input type="checkbox" name="remember" ng-model="login.formData.remember" class="ng-pristine ng-untouched ng-valid">记住帐号
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit"  class="btn btn-primary btn-block">登录</button>
                    </div>
                </form>
            </div>

            <h2>通过2/3/4G无线网络，实现全国互联，最高可拥有20Mb带宽<br />专业管理平台，实现网上开卡/充值/售后一站式服务</h2>
        </div>
    </div>
    <div class="customers">
        <h2>物联网行业内数百家公司与华正合作，包括:</h2>
        <img src="images/customers.png" alt="图片"/>

    </div>


    <section class="two-columns">
        <div class="container">
            <h2>一站式管理平台<br />双平台架构</h2>
            <div class="half-page"><img
                    src="images/pc&wx.jpg" alt="图片"/>
            </div>


            <div class="half-page">
                <p class="from">一个平台，双边操作，双端接入</p>
                <p class="subject">PC端界面功能强大完善，操作复杂<br/><br />微信端界面功能精简，操作简单</p>
                <div class="esp">
                    <p><br>移动端界面借助微信公众号供顾客使用，包括充值续费，查看记录，查看余额，单卡详情等功能</p>
                    <p>PC端界面主要供华正员工使用，功能更完善，全面满足客户售后需求。</p>
                </div>
            </div>

        </div>
    </section>

    <section class="two-columns">
       <div class="container">
         <h2>行业领先的服务质量</h2>
         <div class="half-page">
             <p>专业的服务团队<br/>非技术问题承诺半小时解决。</p>
             <p>强大的内容、技术服务支持<br>运维团队24小时待命</p>
             <p>全行业领先的流量CRM管理平台<br>与中国移动api通道对接</p>
             <p>清晰、实时的流量分成结算体系<br>支持多级营销商模式</p>
             <a class="btn-primary" href="FAQ.html">
                 常见售后问题FAQ
             </a>
         </div>
            <div class="half-page"><img
                src="images/service.jpg" alt="图片"/>
          </div>
        </div>
    </section>

    <section class="two-columns">
        <div class="container">
            <h2>支持客户二次开发</h2>
            <div class="half-page"><img
                    src="images/api.jpeg"
                    alt="图片"/></div>
            <div class="half-page">
                <p>客户可以根据个人需要，定制第三方平台<br>自定义外形，自主定义逻辑实现新功能</p>
                <p>华正提供功能强度大的API接口<br>帮助客户完成二次开发</p>

                <a class="btn-primary" href="/features">如何进行二次开发？</a>

            </div>
        </div>
    </section>
    <section class="two-columns">
        <div class="container">
            <h2>应用场景</h2>
            <div class="half-page">
                <p>POS机，货机</p>
                <p>车联网云车机</p>
                <p>智能穿戴设备</p>
                <p>MIFI</p>
                <p>无线监控设备</p>
                <p>多功能GPS</p>
                <a class="btn-primary"
                   href="">业务介绍</a>

            </div>
            <div class="half-page"><img
                    src="images/usage.png"
                    alt=""/></div>
        </div>
    </section>
</div>

<footer class="u-center">
    <div class="u-spaceTop">
        <div class="one-widget">
            <div class="textwidget">
                <div class="copyright">
                    <ul>
                        <li>&copy; 2012-2017 深圳市华正信息服务有限公司</li>
                        <li>For support or questions please email us at anthonyzhang0929@gmail.com.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
