body,html {
    height: 100%;
    font-family: Tahoma,Helvetica,Arial,"Microsoft Yahei","微软雅黑",STXihei,"华文细黑",sans-serif
}

body {
    background: url(../images/loginBg.jpg) #7EA0C3 bottom repeat-x
}

.root-container {
    height: 100%
}

.success-text {
    font-weight: 700
}

.title-container {
    padding: 10px 20px;
    border-bottom: 2px solid #c4c4c7;
    background-color: #ececed
}

.loginForm-title {
    line-height: 37px;
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    bottom: -10px
}

.logingWrapper {
    position: relative;
    text-align: center;
    padding-top: 20px
}

.loginContainer {
    display: inline-block;
    margin: 3% auto;
    box-shadow: 0 0 5px #888;
    overflow: hidden;
    text-align: left;
    position: relative
}

.formContainer {
    background-color: #f6f6f7;
    overflow: hidden;
    position: relative
}

/*.toggleBar {*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*border-width: 1px;*/
    /*position: relative;*/
    /*color: #cccccd;*/
    /*left: -10px;*/
    /*transition: opacity .5s ease-in-out;*/
    /*opacity: 1;*/
    /*top: -185px*/
/*}*/

/*.toggleBar.ng-hide {*/
    /*opacity: 0*/
/*}*/

/*.toggleBar.ng-show {*/
    /*opacity: 1*/
/*}*/

/*.toggleBar::before {*/
    /*border-top: 30px solid transparent;*/
    /*width: 0;*/
    /*height: 250px;*/
    /*border-left: 30px solid #fff;*/
    /*border-bottom: 30px solid transparent;*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*content: ' ';*/
    /*right: 0;*/
    /*top: -75px;*/
    /*z-index: -1*/
/*}*/

/*.rorateText {*/
    /*-ms-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*display: block;*/
    /*-webkit-transform: rotate(90deg);   */
    /*transform: rotate(90deg);*/
    /*font-size: 16px;*/
    /*margin-bottom: 5px*/
/*}*/

.toggleBar {
    display: inline-block;
    width: 339px;
    border-width: 5px;
    color: #cccccd;
    /* left: 50%; */
    transition: opacity .5s ease-in-out;
    opacity: 1;
    z-index: -1;
    background: #fdfaf7;
    border: 3px solid rgba(147, 163, 179, 0.99);
    border-radius: 20px 20px 20px 20px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-right: 0;
}

aside.toggleBar {
}

aside.toggleBar {
}

.toggleBar.ng-hide {
    opacity: 0
}

.toggleBar.ng-show {
    opacity: 1
}








#singleCardTable tr>td:first-child {
    white-space: nowrap
}

.main-container {
    position: absolute;
    top: 97px;
    bottom: 0;
    left: 0;
    max-width: 100%;
    right: 0
}

.main-container>.column-container {
    height: 100%;
    position: absolute;
    background-color: #fff
}

.column-container.left {
    left: 0;
    width: 250px
}

.content-wrap {
    position: absolute;
    background-color: #fff
}

.right .content-wrap {
    bottom: 0;
    top: 105px;
    left: 5px;
    right: 5px
}

.right .content-wrap .ui-view-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 35px
}

.left .content-wrap {
    bottom: 0;
    right: 8px;
    left: 0;
    height: 100%;
    background-color: #fff
}

.left .collapse-bar {
    position: absolute;
    width: 8px;
    right: 0;
    height: 100%;
    background-color: #3d525b
}

.column-container.right {
    right: 0;
    left: 250px
}

.grid-container {
    position: absolute;
    width: 100%;
    bottom: 5px;
    top: 38px
}

.grid-position {
    position: absolute;
    width: 100%;
    bottom: 35px;
    top: 30px
}

.organization-container {
    border-right: 4px solid #3d525b;
    box-sizing: border-box;
    border-bottom: 4px solid #3d525b
}

.organization-container>section {
    height: 100%
}

.tab-container {
    height: calc(100% - 137px)
}

.tab-container>.tab-pane {
    position: relative;
    bottom: 0;
    height: 100%;
    top: 0;
    min-height: 100%
}

.tab-container>.tab-pane>* {
    position: relative;
    bottom: 0;
    min-height: 100%
}

.table-wrapper {
    top: 0;
    bottom: 38px;
    left: 0;
    position: absolute;
    overflow: auto;
    right: 0;
    text-align: center
}

.table-td-center,.table-wrapper .table tr th {
    text-align: center
}

.footer-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    padding-right: 5px
}

select {
    min-height: 26px
}

h3 {
    padding: 5px 0;
    margin: 0
}

header,nav {
    overflow: hidden
}

ol,ul {
    list-style: none
}

hgroup h3,hgroup h4,hgroup small {
    display: inline-block
}

.loginForm {
    float: left;
    padding: 10px 50px;
    width: 339px;
    display: inline-block;
}

.searchForm {
    float: left;
    padding: 10px 50px;
    width: 339px;
    display: inline-block;
    min-height: 252px
}

.searchForm.ng-enter,.searchForm.ng-leave {
    transition: .5s ease-in-out
}

.searchForm.ng-enter,.searchForm.ng-leave.ng-leave-active {
    -webkit-transform: translate(-339px,0);
    transform: translate(-339px,0);
    opacity: 0
}

.searchForm.ng-enter.ng-enter-active,.searchForm.ng-leave {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    opacity: 1
}

.leftDashed {
    border-left: 1px dashed #111;
    min-height: 376px
}

.closeBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(0,0,0,.32)
}

.subtitle {
    margin-left: 40px;
    padding-left: 20px
}

.subtitle-bordered {
    border-left: 2px solid #000
}

.big-title {
    font-weight: 700
}

.pagination-inline {
    margin: 0
}

.header {
    padding: 10px
}

.banner {
    padding-top: 5px;
    padding-left: 6%
}

.user-search-box {
    margin-bottom: 5px
}

a {
    color: inherit;
    cursor: pointer
}

a.underline {
    text-decoration: underline
}

.right {
    float: right
}

.mainColor {
    background-color: #60bad8
}

.text-contrast {
    background-color: #60bad8;
    color: #fff
}

.text-contrast-dark {
    background-color: #3a525b;
    color: #fff
}

a.active,a:hover {
    color: #60bad8;
    text-decoration: none
}

a.active {
    background: #fff
}

.icon-plus-bordered:before {
    border: 1px solid #000;
    content: '';
    margin: 0 .5em 0 -1.5em
}

.tree-list-item {
    margin: 5px 0;
    white-space: nowrap;
    position: relative
}

ol.tree-list-item {
    padding-left: 15px
}

.selected,.selected:after {
    background: #93ddf5
}

.condensed {
    padding: 0 10px
}

.table-no-border {
    margin-bottom: 0
}

.table-no-border td,.table-no-border tr {
    border-top: none!important
}

.panel-heading {
    padding: 5px 15px!important
}

.tree-list-item-first {
    padding-left: 0
}

.tree-container-header {
    background: #f5f5f5;
    color: #333;
    padding: 5px 15px;
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #ddd
}

[ui-tree] {
    overflow: auto;
    padding-left: 15px;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    right: 8px
}

.btn-primary {
    background-color: #60bad8!important;
    border-color: #60bad8
}

.tab-pane {
    padding: 8px 8px 0
}

.text-required {
    color: red
}

.table-container {
    bottom: 0;
    top: 30px;
    left: 0;
    right: 0;
    position: absolute
}

.stick-right {
    position: absolute;
    right: 0;
    display: inline-block
}

.mobileIcon {
    height: 47px;
    width: 134px;
    display: none;
    background-image: url(../images/loginLogo.png)
}

.nav-tabs-colorful >ul,ul.nav-tabs-colorful {
    border-bottom: 1px solid #60bad8!important
}

.nav-tabs-colorful >ul>li.active>a,ul.nav-tabs-colorful>li.active>a {
    border: 1px solid #60bad8!important;
    border-bottom-color: transparent!important;
    color: #60bad8
}

.nav-tabs>li.active>a,.nav-tabs>li>a.active {
    font-weight: 700
}

.modal-body {
    overflow: hidden
}

.modal-dialog {
    margin-top: 3%;
    overflow: hidden
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    padding-left: 5px!important;
    padding-right: 5px!important
}

.row {
    margin-right: -5px!important;
    margin-left: -5px!important
}

.help-block {
    margin-bottom: 0!important
}

.table-condensed>tbody>tr>td {
    padding: 2px;
    font-size: 12px
}

.nav-tabs-colorful >ul,ul.nav-tabs-colorful {
    padding-left: 20px
}

.nav-tabs {
    border-bottom: 0
}

.nav>li>a {
    padding: 5px 15px!important
}

.control-label {
    white-space: nowrap
}

.modal-body-noborder {
    padding: 0!important
}

.modal-backdrop {
    bottom: 0
}

.error {
    color: #a94442;
    font-weight: 700
}

.ng-hide-add,.ng-hide-remove {
    display: inline-block!important
}

.fa-spin {
    -webkit-animation: fa-spin 1s infinite linear!important;
    animation: fa-spin 1s infinite linear!important
}

.drop-box {
    border: 5px dashed #ddd;
    height: 55px;
    width: 200px
}

.dragover {
    border: 5px dashed #60bad8
}

.search-list {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    background: #fff;
    line-height: 14px;
    border: 1px solid #ccc;
    position: absolute;
    width: 100%
}

.search-list>li>a {
    padding: 6px 12px;
    color: #000;
    display: block
}

.search-list>li>a:hover {
    background: #F1F1F1;
    text-decoration: none
}

.btn-color {
    border: 1px solid #60bad8;
    color: #60bad8
}

.btn-orage {
    background-color: #ff9333;
    color: #fff
}

.windowContainer {
    margin: 50px auto;
    text-align: left;
    overflow: hidden;
    max-width: 480px
}

.helpFormContainer {
    padding: 10px 30px 10px 0
}

.success-text {
    color: #3c763d
}

#works-container>section {
    padding-right: 7px;
    padding-left: 7px
}

.work-table {
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    min-height: 280px;
    margin: 10px 5px;
    position: relative
}

.work-table-header {
    background-color: rgba(255,255,255,.3);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 10px;
    padding: 0 25px
}

.work-table-content {
    overflow: hidden
}

.work-table-section {
    padding: 5px 15px;
    margin-bottom: 5px;
    border-bottom: 2px dashed #eee;
    overflow: hidden
}

.work-table-footer {
    position: absolute;
    bottom: 5px;
    right: 10px;
    left: 10px
}

#work-store {
    background-color: #00b17d;
    box-shadow: 0 5px 5px -2px rgba(7,140,100,1)
}

#work-inform {
    background-color: #e37978;
    box-shadow: 0 5px 5px -3px rgba(180,90,87,1)
}

#work-renewal {
    background-color: #48a6eb;
    box-shadow: 0 5px 5px -3px rgba(40,123,187,1)
}

#work-expired {
    background-color: #21a4ab;
    box-shadow: 0 5px 5px -3px rgba(34,133,140,1)
}

#work-moribund {
    background-color: #338bcd;
    box-shadow: 0 5px 5px -3px rgba(48,115,164,1)
}

#work-log {
    background-color: #a17bc3;
    box-shadow: 0 5px 5px -3px rgba(135,102,160,1)
}

.work-table-content-section {
    border-bottom: 1px dashed #eee
}

.key-number {
    font-size: 1.5em
}

.drag-drop-placeholder {
    border: 1px dashed #bed2db;
    background: #f0f9ff
}

.modal-table-contanier {
    max-height: 300px;
    position: relative;
    overflow: auto
}

.blue-text {
    color: #00f;
    font-weight: 700
}

.table-nomargin {
    width: 100%;
    max-width: 100%
}

#rechargeLogTable {
    top: 150px;
    bottom: 0;
    position: absolute;
    left: 20px;
    right: 10px
}

#rechargeLogTable.table-extend {
    top: 40px
}

.btn-export-wrap {
    position: absolute;
    bottom: 5px
}

[datepicker-popup-wrap] {
    z-index: 2000
}

.tree-modal {
    position: relative;
    min-height: 300px
}

.st-sort-ascent:before {
    content: '\25B2'
}

.st-sort-descent:before {
    content: '\25BC'
}

a.accordion-toggle:link {
    text-decoration: none
}

#batch-search-container .panel {
    border-width: 0
}
